/* eslint-disable css/no-invalid-properties */
#animation {
    padding: var(--medium-spacing);
    background-color: var(--muted-text-color);
    border: 5px solid var(--border-color);
    border-radius: var(--medium-radius);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 50%;
}