/* eslint-disable css/no-invalid-properties */
#animation {
    padding: var(--medium-spacing);
    background-color: var(--muted-text-color);
    border: 5px solid var(--border-color);
    border-radius: var(--medium-radius);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 50%;
}

#animation-preview {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 80%;
    margin-top: 20px;
    border-radius: var(--large-radius);
    gap: 10px;
    padding-bottom: 60px;
}

#space {
    height: 90%;
    width: 90%;
    margin-top: 20px;
    border-radius: var(--large-radius);
    position: relative;
    margin-bottom: 35px;
}

#space-img {
    position: relative;
    height: 300px;
    overflow: hidden;
    width: 100%;
    border-radius: var(--large-radius);
    z-index: 4;
}

#rocket-div {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#rocket {
    width: 80px;
    height: auto;
    display: block;
    z-index: 10;
}

#launch-btn {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: var(--main-font);
    border: 1px solid var(--primary-color);
    border-radius: var(--circle-radius);
    font-size: var(--large-text);
    cursor: pointer;
    padding: 10px 16px;
    margin-bottom: -70px;
    transition: transform var(--normal-transition), background-color var(--slow-transition);
}

#launch-btn:hover {
    transform: scale(1.05);
    background-color: #fe7c19; 
}

#launch-btn:active {
    transform: scale(0.98);
    background-color: #d25c02; 
}

#rocket-div.rocket-launching {
    animation: rocket-launch 2s ease-in-out forwards;
}

@keyframes rocket-launch {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
    85% {
        transform: translateX(-50%) translateY(-160px);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-170px);
        opacity: 0;
    }
}