/* eslint-disable css/no-invalid-properties */
#buttons {
    padding: var(--medium-spacing);
    background-color: var(--muted-text-color);
    border: 5px solid var(--border-color);
    border-radius: var(--medium-radius);
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 50%;
}

#button-preview {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 80%;
    margin-top: 20px;
    border-radius: var(--large-radius);
    gap: 100px;
}

#magic-btn {
    background-color: rgb(53, 53, 255);
    color: var(--background-color);
    font-family: var(--main-font);
    font-size: var(--large-text);
    letter-spacing: 0.1rem;
    padding: 15px 25px;
    border: 1px solid rgb(53, 53, 255);
    border-radius: var(--large-radius);
    cursor: pointer;
    text-align: center;
    transition: background-color var(--normal-transition), border var(--normal-transition), transform var(--normal-transition);
}

#magic-btn:hover {
    background-color: rgb(81, 81, 250);
    border: 1px solid rgb(81, 81, 250);
    transform: scale(1.1);
}

#magic-btn:active {
    background-color: rgb(20, 20, 244);
    border: 1px solid rgb(20, 20, 244);
    transform: scale(0.98) translateY(-2px);
}

#styles-text {
    font-family: var(--main-font);
    font-size: var(--body-text);
    text-align: center;
    margin-bottom: -100px;
}