/* eslint-disable css/no-invalid-properties */
#grid {
    padding: var(--medium-spacing);
    background-color: var(--muted-text-color);
    border: 5px solid var(--border-color);
    border-radius: var(--medium-radius);
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 50%;
}

#plus-rows-btn, #minus-rows-btn, #plus-column-btn, #minus-column-btn, #plus-gap-btn, #minus-gap-btn {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-family: var(--main-font);
    font-size: var(--small-text);
    border: 1px solid var(--primary-color);
    border-radius: var(--circle-radius);
    font-size: var(--extra-large-text);
    padding: 10px 16px;
    cursor: pointer;
    transition: transform var(--normal-transition), background-color var(--slow-transition);
}

#plus-rows-btn:hover, #minus-rows-btn:hover, #plus-column-btn:hover, #minus-column-btn:hover, #plus-gap-btn:hover, #minus-gap-btn:hover {
    transform: scale(1.05);
    background-color: #fe7c19; 
}

#plus-rows-btn:active, #minus-rows-btn:active, #plus-column-btn:active, #minus-column-btn:active, #plus-gap-btn:active, #minus-gap-btn:active {
    transform: scale(0.98);
    background-color: #d25c02; 
}

#rows, #columns, #gap {
    font-size: var(--large-text);
    font-family: var(--main-font);
    color: var(--border-color);
}

#gap {
    margin-right: 110px;
    margin-left: 110px;
}

#rows {
    margin-right: 120px;
    margin-left: 120px;
}

#columns {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10px;
}

#grid-minus {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#horizontal-flex {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#grid-minus-btn {
    display: flex;
    flex-direction: column;
}

#grid-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(253, 252, 238);;
    border: 5px solid rgb(253, 252, 238);;
    border-radius: var(--large-radius);
    gap: 1px;
    padding: 2px;
}

.section {
    width: 100%;
    height: 105px;
    border: none;
    border-radius: var(--large-radius);
    overflow: hidden;
}

.section img {
    border: none;
    border-radius: var(--small-radius);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#grid-gap-btn {
    margin-left: 80px;
}

#grid-plus {
    margin-left: 20px;
}