html {
    scroll-behavior: smooth;
    max-width: var(--max-width);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}