#typography {
    padding: var(--medium-spacing);
    background-color: var(--muted-text-color);
    border: 1px solid var(--muted-text-color);
    border-radius: var(--medium-radius);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 50%;
}